<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Christopher Short</title>
    <link rel="apple-touch-icon" sizes="180x180" href=../media/favicon.png>
    <link rel="icon" type="image/png" sizes="32x32" href=../media/favicon.png>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Christopher Short" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://chrisshort.dev" />

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Christopher Short"/>
    <meta name="twitter:description" content=""/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic|Raleway:500,100,300" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href=../css/normalize.css />
    <link rel="stylesheet" type="text/css" media="screen" href=../css/main.css/>
    <script src=../js/feather.min.js></script>
    <!-- <script src=js/main.js></script> -->

</head>
<body>
    <div class="container wrapper">
       <div class="header">
          <img src=../media/profile.jpg class="profile_image">
          <h1 class="site-title">Christopher Short</h1>
          <div class="site-affilation">
             <span class="affilation">
                <ul class="flat">
                   <li class="position">Graduate, William &amp; Mary</li>
                   <li class="email">cshort@email.wm.edu</li>
                </ul>
             </span>
             <nav class="nav social">
                <ul class="flat">
                   <a href="https://github.com/shortc" title="GitHub"><i data-feather="github"></i></a>
                   <a href="https://linkedin.com/in/short-c" title="LinkedIn"><i data-feather="linkedin"></i></a>
                   |
                   <!-- <a href="https://blog.chrisshort.dev" class="blog_cv">[blog]</a> -->
                   <a href="../media/short-resume.pdf" class="blog_cv">[resume]</a>
                </ul>
             </nav>
          </div>
          <nav class="nav">
             <ul class="flat"></ul>
          </nav>
       </div>
       <div class="introduction">
          <span>
          My name is Christopher Short and I graduated from William and Mary with a B.S. in Computer Science in May 2020. I am currently looking for full-time employment in either a software development or devops role.
          My interests include software development, system administration and cybersecurity. I am a quick learner and I thoroughly enjoy problem solving and tinkering. This leads right into my hobbies: building keyboards, working on cars, and building computers.
          </span>
          <br>
          <span>
          <span class="project_name"><b>Interests.</b></span> DevOps, Cybersecurity, Keyboard-Building
          </span>
       </div>
       <div class="introduction">
          <h4>Projects</h4>
          <ul>
             <li>
                <span class="project_name"> Personal Website</span>
                <!-- <a href="https://chrisshort.dev" class="project"> Personal Website, Spring 2020</a> -->
                <span class="code_blog">
                [<a href="https://github.com/shortc/my-website">code</a>]
                </span>
                <span class="project_description">
                My website serves as an extention to my resume/cv and it also serves as a demonstration of some of my experience with industry leading DevOps tools. 
                It was created using Docker, Traefik, Nginx, LetsEncrypt, Digitial Ocean's smallest droplet, and a Hugo theme that I stripped from the Hugo engine.
                </span>
             </li>
             <li>
                <span class="project_name"> IT Server Configuration, Fall 2019</span>
                <span class="project_description">
                I utilized Vagrant with Virtualbox as the provider to mirror the William &amp; Mary&rsquo; Coputer Science Department&rsquo;s filer and lab machines for stability testing.
                </span>
             </li>
             <li>
                <span class="project_name"> OS 161 Kernel &amp; Shell Development, Spring 2019</span>
                <span class="code_blog" display=inline>
                [<a href="https://github.com/shortc/os161">code</a>]
                [<a href="https://github.com/shortc/homebrewed-shell">code</a>]
                </span>
                <span class="project_description">
                I implemented semaphores and mutex locks in Harvard&rsquo;s OS 161. Created a working, standalone shell in C. 
                Designed and replicated from scratch OS system calls in C. Parsed MIPS assembly and hooked into the OS to trace system call paths.
                </span>
             </li>
             <li>
               <span class="project_name"> Ray Tracing Spheres, Spring 2018</span>
               <span class="code_blog">
               [<a href="https://github.com/shortc/ray-traced-spheres">code</a>
               </span>
               <span class="project_description">
               I created an image renderer using C++ that takes in a file containing a list of 3D coordinates in vectorspace that represent spheres and 
               then renders an image out to a ppm file using the ray tracing rendering technique.
               </span>
            </li>
             <li>
                <span class="project_name"> Application Vulnerablility Testing, Spring 2018</span>
                <span class="code_blog">
                [<a href="https://github.com/shortc/app-reconnaissance.git">code</a>]
                [<a href="../media/short-plan.pdf">plan</a>]
                [<a href="../media/short-report.pdf">paper</a>]
                </span>
                <span class="project_description">
                I evaluated 100 Android appplications for cases of SSL vulnerabilities and permission misuse utilizing 
                automated and manual analysis of application set with Androgaurd through Bash and Python scripting. 
                Organized and presented a 4 page IEEE format research paper on findings from analysis.
                </span>
             </li>
             <li>
                <span class="project_name"> Network Programming, Fall 2018</span>
                <span class="code_blog">
                [<a href="https://github.com/shortc/tcp-data">code</a>]
                </span>
                <span class="project_description">
                Created a fully-functional implementation of TCP in Java with Go-Back-N as the pipeline protocol. 
                Created a TCP compliant web server with Java socket programming.
                </span>
             </li>
             <li>
                <span class="project_name"> Rogue-like 2D Video Game, Fall 2018</span>
                <span class="code_blog">
                [<a href="https://github.com/shortc/ground-break">code</a>]
                </span>
                <span class="project_description">
                I, and 3 other people, created a standalone rogue-like 2D video game from scratch in 12 weeks using SFML in C++. 
                Worked in an agile environment with 3 other team members with bi-weekly presentations. 
                Followed Git best-practices for both bug fixinf and feature additions to keep a clean coding environment.
                </span>
             </li>
             <li>
                <span class="project_name"> Recreated Pong Video Game, Fall 2018</span>
                <span class="code_blog">
                [<a href="https://github.com/shortc/pong">code</a>]
                </span>
                <span class="project_description">
                I created a replica of the Pong video game using SFML in C++. 
                Followed Git best-practices for both bug fixinf and feature additions to keep a clean coding environment.
                </span>
             </li>
             <li>
                <span class="project_name"> Java Maze Game, Fall 2017</span>
                <span class="code_blog">
                [<a href="https://github.com/shortc/maze-game">code</a>]
                </span>
                <span class="project_description">
                I ported a standalone Java maze game to the Android platform. Full-stack agile development of an android maze game using Android Studio. 
                Development included object-oriented class design, implementation of dijkstra's shortest-path algorithm, and JSuite testing.
                </span>
             </li>
          </ul>
       </div>
       <div class="introduction"></div>
    </div>
    </div>
    <div class="footer wrapper">
       <nav class="nav">
          <div>
            Inspired by the <a href="https://github.com/hadisinaee/avicenna">Avicenna Theme</a> 
            | Edited by <a href="https://chrisshort.dev">Chris Short</a>
            | Served by <a href="https://www.nginx.com/">Nginx</a>
          </div>
       </nav>
    </div>

    <script type="application/javascript">
       var doNotTrack = false;
       if (!doNotTrack) {
           window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
           ga('create', 'UA-169777017-1', 'auto');   
           ga('send', 'pageview');
       }
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script>
       feather.replace()
    </script>
 </body>
 

</html>
